extends includes/header
block content
  h1 This is the home page!
  a(href="/register" style="display: block; margin: 10px") Sign Up!
  a(href="/login" style="display: block; margin: 10px") Login!
  if isLoggedIn
    a(href="/logout" style="display: block; margin: 10px") Logout!