extends ../includes/header
block content
  .container
    .row
      .col
        h1.text-center Add new comment to #{campground.name}
        .row.justify-content-center.mt-4
          .col.colt-sm-12.col-md-5
            form(action=`/campgrounds/${campground.id}/comments`, method="POST")
              .form-group
                input.form-control(type="text" placeholder="your comment" name="comment[text]" autocomplete="off")
              .form-group
                input.form-control(type="text" placeholder="name" name="comment[author]" autocomplete="off")
              .form-group
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit
        a.d-block.text-center(href="/campgrounds") Go Back