include includes/header
.container
  header.jumbotron
    .container
      h1 Welcome To YelpCamp
      p View our hand-picked campgrounds from all over the world
      a.btn.btn-primary(href="/campgrounds/new") Add new campground
  .row.text-center.justify-content-center
    each campground in campgrounds    
      .campground.col-md-3.col-sm-6
        .thumbnail
          img(src=campground.image)
          .caption
            h5 #{campground.name}
include includes/footer