include includes/header
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href="/") YelpCamp
    .collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href="/") Login
        li.nav-item.active
          a.nav-link(href="/") Sign Up
        li.nav-item.active
          a.nav-link(href="/") Logout

.container
  header.jumbotron
    .container
      h1 Welcome To YelpCamp
      p View our hand-picked campgrounds from all over the world
      a.btn.btn-primary(href="/campgrounds/new") Add new campground
  .row.text-center.justify-content-center
    each campground in campgrounds    
      .campground.col-md-3.col-sm-6
        .thumbnail
          img(src=campground.img)
          .caption
            h5 #{campground.name}
include includes/footer