extends includes/header
block content
  form(action="/login" method="POST")
    input(type="text" name="username" placeholder="username" required)
    input(type="password" name="password" placeholder="password" reqiored)
    button(type="submit") Login