extends includes/header
block content
  if message.length > 0
    p #{message}
  form(action="/login" method="POST")
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    button(type="submit") Login