extends includes/header
block content
  form(action="/register" method="POST")
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    button(type="submit") Sign up