doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Blog App
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css")
    link(rel="stylesheet", href="/stylesheets/app.css")
  body
    nav(class="ui fixed inverted menu")
      .ui.container
        .header.item <i class="code icon"></i> Blog Site
        a(href="/" class="item") Home
        a(href="/blogs/new" class="item") New Post
    block content