extends ../includes/header
block content
  .container
    .row
      .col
        h1.text-center Create a new campground
        .row.justify-content-center.mt-4
          .col.colt-sm-12.col-md-5
            form(action="/campgrounds", method="POST" enctype="multipart/form-data")
              .form-group
                input.form-control(type="text" placeholder="name" name="campground[name]" autocomplete="off" required)
              .form-group
                label(for ="image") Image
                input.form-control(type="file" id="image" name="image" accept="image/*" required)
              .form-group
                input.form-control(type="text" placeholder="description" name="campground[description]" autocomplete="off" required)
              .form-group
                input.form-control(type="number" placeholder="price" name="campground[price]" autocomplete="off" min="1.00" step="1.00" required)
              .form-group
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit
        a.d-block.text-center(href="/campgrounds") Go Back
  include ../includes/footer