extends includes/header
block content
  h1 Login
  if message.length > 0
    p #{message}
  form(action="/login" method="POST")
    input(type="text" placeholder="username" name="username")
    input(type="password" placeholder="password" name="password")
    button(type="submit") Login
  a(href="/register" style="display: block; margin: 10px") Sign Up!