extends includes/header
block content
  h1 SIGN UP FORM
  form(action="/register" method="POST")
    input(type="text" placeholder="username" name="username")
    input(type="password" placeholder="password" name="password")
    button(type="submit") Sign up