extends includes/header
block content
  .ui.main.text.container.segment
    .ui.huge.header Edit Blog
    form(action=`/blogs/${blog.id}?_method=PUT` method="POST" class="ui form")
      .field
        label Title
        input(type="text" name="blog[title]" placeholder="title" value=`${blog.title}`)
      .field
        label Image
        input(type="text" name="blog[image]" placeholder="image" value=`${blog.image}`)
      .field
        textarea(name="blog[body]" placeholder="blog post goes here") #{blog.body}
      button(type="submit" class="ui violet basic button big") Submit