extends includes/header
block content
  .ui.main.text.container.segment
    .ui.huge.header New Blog
    form(action="/blogs" method="POST" class="ui form")
      .field
        label Title
        input(type="text" name="blog[title]" placeholder="title")
      .field
        label Image
        input(type="text" name="blog[image]" placeholder="image")
      .field
        textarea(name="blog[body]" placeholder="blog post goes here")
      button(type="submit" class="ui violet basic button big") Submit